.movie {
    display: flex;
    flex-direction: column;
    flex: 0 0 21%;
    margin: 2%;
    background-color: rgba(228, 190, 189, 0.603);
}

h2 {
    color:rgb(73, 55, 157);
}

h3 {
    color: rgb(40, 125, 194);
}

img {
    width: 100%;
    height: auto;
}